.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 286px);
  grid-template-rows: repeat(auto-fill, 213px);
  gap: 16px;
  margin-top: 92px;
  padding: 0;
}

@media screen and (max-width: 1140px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 225px);
    gap: 14px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    grid-template-rows: repeat(auto-fill, 264px);
    gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    grid-template-columns: 288px;
    grid-template-rows: repeat(auto-fill, 216px);
    gap: 12px;
    margin-top: 64px;
  }
}
