.place__url-link {
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: white;
}

.place__url-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 568px) {
  .place__url-link {
    margin-left: 16px;
  }
}
