.footer__links {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 0;
}

@media screen and (max-width: 762px) {
  .footer__links {
    flex-direction: column;
    align-self: flex-start;
    margin-top: 0;
  }
}
