.lead__image {
  max-width: 984px;
  margin: 64px auto 0;
}

@media screen and (max-width: 1140px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    max-width: 568px;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    max-width: 320px;
    height: 200px;
    margin-top: 40px;
  }
}
