.cover__title {
  max-width: 560px;
  margin: auto;

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 568px) {
  .cover__title {
    width: 268px;
    font-size: 32px;
    line-height: 35px;
  }
}
